<div class="g-sidebar-filter-component" layout="column">

    <div layout="row" layout-align="space-between center">
        <p class="area-title g-section-title"><span class="g-meta-circle blue">F</span><span class="after-text">ILTER AREA</span>
        </p>
    </div>
    <div data-ng-if="false">

        <div layout="row" class="filters-control-btn s-f-expanded-btns">
            <md-button class="md-raised" data-ng-click="selectAll()">
                Select all
            </md-button>
            <md-button class="md-raised" data-ng-click="deselectAll()">
                Deselect all
            </md-button>
        </div>
        <div layout="row" class="filters-control-btn s-f-expanded-btns">
            <md-button class="md-raised clear-all full-width" data-ng-click="clearAll()">
                Clear all
            </md-button>
        </div>

    </div>

    <div dragula="'filters-bag'" dragula-model="filters" class="filters-holder">
        <md-card data-ng-repeat="filter in filters"
                 class="{{filter.options.enabled ? '' : 'f-disabled' }} g-filter-item" layout="row">
            <div flex="15">
                <input type="checkbox" ng-model="filter.options.enabled" aria-label="filters" class="md-primary"
                             ng-change="toggleFilterState(filter)" >
            </div>
            <md-input-container flex="65">
                <label data-ng-bind="filter.name"></label>
                <div data-ng-if="getFilterType(filter['value_type'])">
                    <!-- {{fields}} -->
                    <div data-ng-if="fields[filter.key]">
                        <md-select data-ng-model="filter.options.query"
                                   md-on-close="searchTerm = ''"
                                   data-ng-change="filterChange(filter)"
                                   multiple="{{fields['value_type'] == 'mc_field' ? 'true' : 'false'}}">
                            <md-select-header>
                                <input data-ng-model="searchTerm"
                                       type="search"
                                       placeholder="Search for a ..."
                                       class="md-text md-select-search-pattern">
                            </md-select-header>
                            <md-option
                                    data-ng-repeat="field in fields[filter.key] | orderBy:'-'+field.name | filter:{ name:searchTerm} track by $index"
                                    value="{{field.id}}">
                                {{field.name}}
                            </md-option>
                        </md-select>
                    </div>
                    <div data-ng-if="!fields[filter.key]">
                        <div layout="row" layout-sm="column" layout-align="space-around">
                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </div>
                </div>
                <!-- <div data-ng-if="filter['value_type'] !== 'field'"> -->
                <div data-ng-if="!getFilterType(filter['value_type'])">
                    <input data-ng-model="filter.options.query" data-ng-change="filterChange(filter)"
                           data-ng-model-options="{debounce: 1000}">
                </div>
            </md-input-container>
            <div class="settings-btn" flex="20">
                <md-menu data-ng-if="options.isRootEntityViewer">
                    <md-button aria-label="Open phone interactions menu" class="md-icon-button"
                               ng-click="openFilterSettings($mdOpenMenu, $event)">
                        <ng-md-icon icon="settings"></ng-md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button ng-click="removeFilter(filter)" class="g-settings-option-btn">
                                <ng-md-icon icon="visibility_off"></ng-md-icon>
                                <span>Remove</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu data-ng-if="!options.isRootEntityViewer && false">
                    <md-button aria-label="Open phone interactions menu" class="md-icon-button"
                               ng-click="openFilterSettings($mdOpenMenu, $event)">
                        <ng-md-icon icon="settings"></ng-md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button ng-click="removeFilter(filter)" class="g-settings-option-btn">
                                <ng-md-icon icon="visibility_off"></ng-md-icon>
                                <span>Remove</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="useFromAbove(filter)" class="g-settings-option-btn">
                                <ng-md-icon icon="done" data-ng-show="filter.options.useFromAbove"></ng-md-icon>
                                <ng-md-icon icon="done" style="visibility: hidden;"
                                            data-ng-show="!filter.options.useFromAbove"></ng-md-icon>
                                <span>Use from above</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-card>
    </div>
    <div class="drop-new-filter" data-ng-if="options.interface.dragging">
        Drop new Filter
    </div>
</div>