<md-dialog aria-label="Area configuration" ng-cloak class="g-modal-dialog drag" g-dialog-draggable>
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row" layout-align="start center">
            <h2 style="user-select: none; position: relative;">View Constructor
            </h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div data-ng-if="vm.readyStatus.content">
            <md-tabs md-dynamic-height md-border-bottom id="dialogbag">
                <md-tab label="entity.name" data-ng-repeat="entity in vm.entities">
                    <md-content class="md-padding">
                        <div class="g-th-checkbox-row">
                            <span class="g-meta-circle red">C</span>
                            <span class="g-meta-circle green">G</span>
                            <span class="g-meta-circle blue">F</span>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in entity.attributes" layout="row">
                            <div>
                                <input type="checkbox" ng-model="item.columns" aria="columns"
                                       data-ng-change="vm.updateAttrs()">
                                <input type="checkbox"
                                       ng-style="vm.checkAreaAccessibility(item, 'group') ? {'visibility': 'hidden'} : {}"
                                       ng-model="item.groups" aria="groups" class="md-g-green"
                                       data-ng-change="vm.updateAttrs()">
                                <input type="checkbox"
                                       ng-style="vm.checkAreaAccessibility(item, 'filter') ? {'visibility': 'hidden'} : {}"
                                       ng-model="item.filters" aria="filters" class="md-primary"
                                       data-ng-change="vm.updateAttrs()">
                            </div>
                            <div dragula="'columns-bag'" class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{item.name}}</md-card>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
        <div data-ng-if="!vm.readyStatus.content" class="dialog-loader">
            <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between center">
        <md-button data-ng-if="vm.MABtnVisibility(vm.entityType)" class="md-raised md-primary" style="margin: 0;"
                   data-ui-sref="app.attributesManager({entityType: vm.entityType})" data-ng-click="vm.cancel()">
            Manage attributes
        </md-button>
        <md-button data-ng-if="vm.entityType === 'balance-report'" class="md-raised md-primary" style="margin: 0;"
                   data-ui-sref="app.reports.balanceCustomAttributesManager" data-ng-click="vm.cancel()">
            Custom attributes
        </md-button>
        <md-button class="md-raised" ng-click="vm.cancel()">
            OK
        </md-button>
    </md-dialog-actions>
</md-dialog>
