<div aria-label="Area configuration" ng-cloak class="pt-app pt-dialog g-modal-dialog draggable-dialog" drag-dialog>
    <div class="pt-dialog-header pt-drag-target">
        <div class="md-toolbar-tools" layout="row" layout-align="start center">
            <h2 style="user-select: none; position: relative;">View Constructor
            </h2>
        </div>
    </div>
    <div class="pt-dialog-body">
        <div data-ng-if="vm.readyStatus.content">
            <md-tabs md-dynamic-height md-border-bottom id="dialogbag">
                <md-tab label="entity.name" data-ng-repeat="entity in vm.entities">
                    <md-content class="md-padding">
                        <div class="g-th-checkbox-row">
                            <span class="g-meta-circle red">C</span>
                            <span class="g-meta-circle green">G</span>
                            <span class="g-meta-circle blue">F</span>
                        </div>
                        <div class="g-checkbox-row" data-ng-repeat="item in entity.attributes">
                            <div class="pt-dialog-control-row">
                                <div class="pt-checkbox-control pt-ds-column-checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="item.columns" aria="columns"
                                               data-ng-change="vm.updateAttrs()">
                                        <span class="pt-checkbox-span"><span
                                                class="pt-checkbox-span-check"></span></span>
                                    </label>
                                </div>
                                <div class="pt-checkbox-control pt-ds-group-checkbox">
                                    <label>
                                        <input type="checkbox"
                                               ng-style="vm.checkAreaAccessibility(item, 'group') ? {'visibility': 'hidden'} : {}"
                                               ng-model="item.groups" aria="groups" class="md-g-green"
                                               data-ng-change="vm.updateAttrs()">
                                        <span class="pt-checkbox-span"><span
                                                class="pt-checkbox-span-check"></span></span>
                                    </label>
                                </div>
                                <div class="pt-checkbox-control pt-ds-filter-checkbox">
                                    <label>
                                        <input type="checkbox"
                                               ng-style="vm.checkAreaAccessibility(item, 'filter') ? {'visibility': 'hidden'} : {}"
                                               ng-model="item.filters" aria="filters" class="md-primary"
                                               data-ng-change="vm.updateAttrs()">
                                        <span class="pt-checkbox-span"><span
                                                class="pt-checkbox-span-check"></span></span>
                                    </label>
                                </div>
                            </div>
                            <div dragula="'columns-bag'" class="g-modal-draggable-card">
                                <md-card class="modal-dialog-card">{{item.name}}</md-card>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
        <div data-ng-if="!vm.readyStatus.content" class="dialog-loader">
            <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>
    </div>
    <div class="pt-dialog-footer">

        <a class="pt-button pt-raised pt-ink-ripple pt-accent" ng-click="vm.cancel()">
            OK
        </a>
    </div>
</div>
