.pt-app {
  .g-grouping-component {
    .pt-round-button {
      background: #4C334D;
      width: 38px;
      height: 38px;
      line-height: 38px;
      i {
        color: #fff;
      }
    }
  }
}